body{
  background-color: #ceaff0;
}

h1 {
    color: purple;
  }

p {
  color: blue;
}
h2{
  color:red:;
}

div#main {
  background-color: white;
  width: 75%;
}

div#title {
  text-align:  center;
  font-size: 32px;
  background-color: #0ca1ad;
}
div#container{
  background-color: white;
}

div.section{
  color: white;
  background-color: black;
  font-size: 32px;
  width: 33.333%;
  float: left;
}
